

.offer-card {
    display: flex;
    flex-direction: row;
    background-color: #0f1115; /* Fondo principal muy oscuro */
    border: 1px solid #272a30; /* Borde sutil */
    border-radius: 12px;
    padding: 0;
    overflow: hidden;
    transition: border-color 0.2s ease; /* Transición suave solo en el borde */
    height: 250px;
    margin-bottom: 2rem;
}


.offer-card:hover {
    border-color: var(--acent);
}
.offer-creator {
    display: block;
    font-size: 0.85rem;
    color: var(--acent);
    font-weight: 600;
    margin-top: 0.3rem;
    text-transform: capitalize;
}


.offer-votes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #181a20; /* Un gris un pelín más claro para diferenciar */
    min-width: 60px;
    border-right: 1px solid #272a30;
}

.vote-count {
    font-size: 1.2rem;
    font-weight: bold;
    color: #ffffff;
    margin: 0.5rem 0;
}

.vote-btn {
    background: none;
    border: none;
    color: #a1a1aa;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 0;
    transition: color 0.2s;
}

.vote-btn:hover {
    color: var(--acent);
}

/* --- CONTENIDO DE LA OFERTA --- */
.offer-content {
    flex: 1;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.offer-content h3 {
    margin: 0;
    font-size: 1.4rem;
    color: #ffffff;
}

.offer-description {
    color: #cccccc; /* El mismo color que los subtítulos de tus gimnasios */
    font-size: 0.95rem;
    margin: 1rem 0;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* --- FOOTER Y PRECIO --- */
.offer-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
}

.price {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--acent); /* El precio destaca con tu color de acento */
    margin: 0;
}

/* Botón humilde tipo "outline" */
.offer-button {
    padding: 0.8rem 1.5rem;
    background-color: transparent;
    color: var(--acent);
    border: 1px solid var(--acent);
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s;
}

.offer-button:hover {
    background-color: var(--acent);
    color: #000;
}

/* --- IMAGEN --- */
.offer-image-container {
    width: 30%;
    min-width: 200px;
    position: relative;
    border-left: 1px solid #272a30;
}

.offer-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

